<html>

<head>
    <style type="text/css">
    h4 {}
    </style>
</head>

<body>
    <div><span>Hello ${u.firstName},  </span></div>
    <p>Welcome to Customer Insight Platform application. Your temporary password to access the application is as follows:</p>
    <p>${credential}</p>
    <p>You should have received your Username in a separate mail. Once you login to the site you will be prompted to set your permanent password. Once it has been set, you will be able to access the application directly.</p>
    <p>If you have any issues please contact the Administrator:</p>
    <p> Administrator E-mail:
        <a href="mailto:shanti.bhusan.sharma@pwc.com" target="_blank">Shanti Bhusan Sharma (US - Advisory)</a> ,
        <a href="mailto:sagar.k.lohani@pwc.com" target="_blank">Sagar Kumar Lohani Lohani (US - Advisory)</a> ,
        <a href="mailto:jayanth.x.belligundu@pwc.com" target="_blank">Jayanth Belligundu (US - Advisory)</a> ,
        <a href="mailto:nsikak.akpakpan@pwc.com" target="_blank">Nsikak Akpakpan (US)</a> ,
        <a href="mailto:vijayalakshmi.karuppaiyah@pwc.com" target="_blank">Vijayalakshmi Karuppaiyah Karuppaiyah (US - Advisory)</a> ,
        <a href="mailto:gaurav.maheshwari@pwc.com" target="_blank">Gaurav Maheshwari (US - Advisory)</a> ,
        <a href="mailto:varunkumar.rajendran@pwc.com" target="_blank">Varunkumar Rajendran Rajendran (US - Advisory)</a> ,
        <a href="mailto:wayne.cao@pwc.com" target="_blank">Wayne Cao (US - Advisory)</a>
    </p>
</body>

</html>